* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    width: 100%;
    height: 100%;
    background: #EDEFF1;
}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 50px;
    background: #FFFFFF;
}

nav h1 {
    font-size: 20px;
    font-weight: 550;
}

.container {
    width: 700px;
    height: 400px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 30px;
    position: absolute;
    top: calc(50% + 50px);
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
}

.container .image-container {
    width: 680px;
    height: 380px;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #c2c2c2;
}

.container .image-container p {
    font-size: 16px;
    font-weight: 400;
    color: #242424;
}

.container .controls {
    display: none;
}

.active .image-container {
    width: 380px;
    height: 380px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0px;
}

.active .preview-image {
    width: 380px;
    height: 380px;
    object-fit: cover;
    border-radius: 10px;
}

.active .image-container p {
    display: none;
    width: 0;
    height: 0;
}

.active .controls {
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.active .controls h3 {
    font-size: 20px;
    font-weight: bolder;
    width: 190px;
    height: 50px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 3px solid black;
    margin-bottom: 30px;
}

.active .controls .fields {
    width: 190px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.active .controls .field {
    width: 190px;
    max-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.active .controls .field label {
    font-size: 12px;
}

.active .controls .field input[type='number'], select {
    width: 190px;
    height: 40px;
    outline: none;
    border: 1px solid #00000078;
    border-radius: 4px;
    padding: 0 10px;
}

.active  .controls .field .checkbox {
    width: 190px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.active  .controls .field .checkbox input[type='checkbox'] {
    height: 13px;
    width: 13px;
    margin-right: 13px;
}

.active .controls .field .checkbox label {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.active .controls .field button {
    width: 190px;
    height: 80px;
    background: black;
    color: white;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media only screen and (max-width: 728px) {
    .container {
        width: 400px;
        height: 400px;
        position: relative;
        transform: translate(-50%, 0);
        left: 50%;
        top: 30px;
    }
    
    .active {
        width: 400px;
        height: 800px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
  }